@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(330, 57%, 86%);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-omelete{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.img-omelete img{
    width: 600px;
    border-radius: 20px;


}

.recipe-card{
    width: 650px;
   background-color: hsl(0, 0%, 100%);
   padding: 40px;
    margin: 20px 0px;
   border-radius: 20px;
}

.recipe-title{
     font-family: "Young Serif", serif;
     font-weight: 400;
     color: hsl(32, 13%, 42%);
     font-size: 2.1rem;
     padding: 12px;
}

.recipe-content{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #8f8c94;
    padding: 12px;
}

.time{
    background-color: hsla(31, 53%, 90%, 0.308);
    padding: 21px;
    border-radius: 10px;
    
}

h3{
    margin-bottom: 16px;
    font-family: "Outfit", sans-serif;
    color: hsl(332, 51%, 32%);
    font-size: 18px;
}

.preparation-list{
    margin-left: 30px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #8f8c94;
    

    
}

strong{

    color: #615e5fe7;
}

ul li{
    margin: 0px 0px 20px 0px;
    font-size: 15px;

}



ul li::marker{
    color: hsl(332, 51%, 32%);
    margin-left: 15px;
   
   
}

.ingredients {
    border-bottom: 1px solid  #615e5f93;
    margin-top: 25px;
   
}

h2{
    color: hsl(14, 45%, 36%);
    margin: 12px;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 25px;
}

.ingredients-list{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #78777a;
    margin-left: 25px;
    
   
}

.instructions{
   border-bottom: 1px solid  #615e5f93;

}

.instructions-list{
    list-style-type: decimal;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #78777a;
    margin-left: 25px;

   
}

.instructions-list li::marker{
    color: hsl(332, 51%, 32%);
     font-weight: 600;
   font-family: "Outfit", sans-serif;
}




.sobre-nutri{
    padding: 8px;
    font-family: "Outfit", sans-serif;
    color: #78777a;

}

.table{
    width: 100%;
    border-collapse: collapse;

}

.tr-row{
    border-bottom: 2px solid  #615e5f46;




    
}
.table td:last-child{
    color: hsl(332, 51%, 32%);
    padding: 10px;
    font-weight: 600;
    font-family: "Outfit", sans-serif;
}

.table td:first-child{
    color:  #78777a;
     font-weight: 500;
    font-family: "Outfit", sans-serif;
}